<div class="row">
  <div class="col text-center">
    <nb-toggle class="mt-2" [(checked)]="form.isEncrypted">
      encrypt voting
      <nb-icon *ngIf="form.isEncrypted" icon="lock" pack="fas"></nb-icon>
      <nb-icon *ngIf="!form.isEncrypted" icon="lock-open" pack="fas"></nb-icon>
    </nb-toggle>
  </div>
</div>

<div *ngIf="form.isEncrypted" class="row mt-1">
  <div class="col text-center">
    <input nbInput [nbDatepicker]="datetimepicker" placeholder="select date until encrypted"
           [(ngModel)]="form.encryptedUntil" [status]="form.isEncryptedUntilValid ? 'success' : 'danger'">
    <nb-date-timepicker #datetimepicker [min]="min" [max]="max"></nb-date-timepicker>
  </div>
</div>

<div *ngIf="!form.isEncryptedUntilValid" class="row mt-1">
  <div class="col">
    <nb-card accent="danger">
      <nb-card-body>
        Please choose a date that is at least 24 hours from now.
      </nb-card-body>
    </nb-card>
  </div>
</div>
