<div *ngIf="!isUnlocked" class="container text-center">
  <h5 class="text-center">please login to view this page</h5>
</div>

<div *ngIf="isAlreadyVoted" class="container text-center">
  <h5 class="text-center">you've already voted in this voting</h5>
</div>

<div *ngIf="isUnlocked && isVotingLoaded && !isAlreadyVoted">
  <h5>{{voting.title}}</h5>
  <div *ngFor="let poll of voting.polls; let i=index">
    <h6>{{poll.question}}</h6>

    <div *ngIf="voting.ballotType == BallotType.MULTI_CHOICE">
      <div *ngFor="let option of poll.pollOptions" class="mt-2">
        <nb-checkbox (checkedChange)="onChoiceChanged(option.code)">
          {{option.name}}
        </nb-checkbox>
      </div>
    </div>

    <nb-radio-group *ngIf="voting.ballotType == BallotType.MULTI_POLL" [(ngModel)]="selectedOptions[i]" [name]="poll.question">
      <nb-radio *ngFor="let option of poll.pollOptions" [value]="option.code">
        {{option.name}}
      </nb-radio>
    </nb-radio-group>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <button [disabled]="isNotAllowedToCastVote" fullWidth status="primary" nbButton (click)="onCastVoteClicked()">cast
        vote
      </button>
    </div>
    <div class="col-3"></div>
  </div>

  <div *ngIf="isNotAllowedToCastVote" class="row mt-2">
    <div class="col-3"></div>
    <div class="col-6">
      <nb-alert *ngIf="voting.ballotType == BallotType.MULTI_POLL" accent="danger">you must choose one for every option!</nb-alert>
      <nb-alert *ngIf="voting.ballotType == BallotType.MULTI_CHOICE" accent="danger">you must choose one!</nb-alert>
    </div>
    <div class="col-3"></div>
  </div>

</div>

