<div *ngIf="!isUnlocked" class="container text-center">
  <h5 class="text-center">please login to view this page</h5>
</div>

<div *ngIf="isUnlocked" class="container">
  <nb-card [nbSpinner]="isLoading">
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation [selectedIndex]="0" #stepper>
        <nb-step label="network">
          <app-select-network [form]="form"></app-select-network>
        </nb-step>

        <nb-step label="funding account">
          <app-funding-account-source [form]="form"></app-funding-account-source>
          <app-account-balance [form]="form"></app-account-balance>
        </nb-step>

        <nb-step label="voting basic data">
          <app-voting-title [form]="form"></app-voting-title>
          <app-voting-description *ngIf="currentStep == Step.VOTING_BASIC_DATA" [form]="form"></app-voting-description>
          <app-voting-token-identifier [form]="form"></app-voting-token-identifier>
          <app-voting-start-end-date [form]="form"></app-voting-start-end-date>
          <app-voting-encryption [form]="form"></app-voting-encryption>
          <app-votes-cap [form]="form"></app-votes-cap>
          <app-voting-visibility-and-authorization [form]="form"></app-voting-visibility-and-authorization>
          <app-ballot-type [form]="form"></app-ballot-type>
          <app-voting-authorization-input [form]="form"></app-voting-authorization-input>
        </nb-step>

        <nb-step label="questions">
          <app-voting-question *ngIf="currentStep == Step.QUESTIONS" [form]="form"></app-voting-question>
        </nb-step>

      </nb-stepper>
      <div class="text-center">
        <button *ngIf="shouldGoToPrevStepBeDisplayed" class="me-2" nbButton (click)="onPrevClicked(stepper)">previous</button>
        <button *ngIf="shouldGoToNextStepBeDisplayed" nbButton (click)="onNextClicked(stepper)" [disabled]="isDisallowedToGoToNextStep">next</button>
        <button *ngIf="!shouldGoToNextStepBeDisplayed" nbButton [disabled]="isDisallowedToCreate" (click)="onCreateClicked()">create</button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
