<nb-layout>
  <nb-layout-header fixed>
    <nb-icon (click)="toggleMainMenu()" style="font-size: 1.75rem; cursor: pointer;" icon="menu-2-outline"></nb-icon>
    <img src="assets/logo.png" class="img-fluid"
         style="max-width: 220%; max-height: 220%; margin-left: auto; margin-right: auto; margin-bottom: 15px;"/>
  </nb-layout-header>

  <nb-sidebar tag="main" responsive="true">
    <nb-menu [items]="mainMenuItems" tag="mainMenuItems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <div class="text-center">
      cookies, whatever is in footer
    </div>
  </nb-layout-footer>
</nb-layout>
