<nb-layout>
  <nb-layout-header fixed>
    <nb-icon (click)="toggleMainMenu()" style="font-size: 1.75rem; cursor: pointer;" icon="menu-2-outline"></nb-icon>
    <div>TODO: devote logo</div>
  </nb-layout-header>

  <nb-sidebar tag="main" responsive="true">
    <nb-menu [items]="menuItems">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <div class="text-center">
      cookies, whatever is in footer
    </div>
  </nb-layout-footer>
</nb-layout>
