<div class="text-center text-hint mb-1">
  <nb-icon icon="info-outline"></nb-icon>
  the funding account will finance the voting. it must have enough balance to deduct the preliminary costs from it.
  when the voting ends, unused balances will be refunded. it's recommended to create a new account solely for purposes of
  funding this voting
</div>

<div class="row">
  <div class="col text-center">
    <nb-toggle class="mt-2" [(checked)]="form.shouldUseTestNet">use test network</nb-toggle>
  </div>
</div>

<div class="row">
  <label>account public and secret</label>
</div>
<div class="row">
  <div class="col mt-1">
    <input nbInput fullWidth [disabled]="form.shouldAccountPublicToBeDeterminedAutomatically" type="text"
           [status]="form.isFundingAccountPublicValid ? 'success' : 'danger'"
           [(ngModel)]="form.fundingAccountPublic" placeholder="funding account public">
  </div>
  <div class="col mt-1">
    <input nbInput fullWidth type="text" [status]="form.isFundingAccountSecretValid ? 'success' : 'danger'"
           [(ngModel)]="form.fundingAccountSecret" placeholder="funding account secret">
  </div>
</div>

<div *ngIf="form.shouldUseTestNet" class="row mt-2">
  <div class="col">
    <button nbButton fullWidth (click)="onGenerateFundingAccountClicked()">generate funding account</button>
  </div>
</div>
