
<div class="row mt-1">
  <div class="col mt-1">
    <div class="text-center text-hint">
      <nb-icon icon="info-outline"></nb-icon>
      <span *ngIf="form.visibility == Visibility.PRIVATE">
        voting is only accessible to those who participate.
      </span>

      <span *ngIf="form.visibility == Visibility.PUBLIC">
        voting is listed among "public votings". only participants
        can cast a vote
      </span>

      <span *ngIf="form.visibility == Visibility.UNLISTED">
        voting is not listed in "public votings", but still accessible to the public through a link.
        only participants can cast a vote
      </span>
    </div>
    <div>
      <label>visibility</label>
    </div>
    <nb-select fullWidth placeholder="visibility" [(selected)]="form.visibility">
      <nb-option value="PUBLIC">public</nb-option>
      <nb-option value="UNLISTED">unlisted</nb-option>
      <nb-option value="PRIVATE">private</nb-option>
    </nb-select>
  </div>
  <div class="col mt-1">
    <div class="text-center text-hint">
      <nb-icon icon="info-outline"></nb-icon>
      users will access the voting through their email
    </div>
    <div>
      <label>authorization</label>
    </div>
    <nb-select fullWidth placeholder="authorization" [disabled]="true" [(selected)]="form.authorization">
      <nb-option value="EMAILS">emails</nb-option>
    </nb-select>
  </div>
</div>
