<div *ngIf="voting != undefined" class="container">
  <h4 class="text-center">{{voting.title}}</h4>
  <nb-card>
    <nb-card-header>Technical data</nb-card-header>
    <nb-card-body>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
        <div class="col">
          <nb-card>
            <nb-card-header>network</nb-card-header>
            <nb-card-body>
              <div>
                <nb-icon icon="{{voting.network}}" class="mb-1 me-2 align-middle"></nb-icon>
                ({{voting.network}})
              </div>
              <div class="mt-2">
                asset code:
                <code>{{voting.assetCode}}</code>
              </div>
              <app-truncated-account-id title="issuer account"
                                        [accountId]="voting.issuerAccountId"></app-truncated-account-id>
              <app-truncated-account-id title="ballot account"
                                        [accountId]="voting.ballotAccountId"></app-truncated-account-id>
              <app-truncated-account-id title="distribution account"
                                        [accountId]="voting.distributionAccountId"></app-truncated-account-id>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col">
          <nb-card>
            <nb-card-header>dates</nb-card-header>
            <nb-card-body>
              creation time, start, end date.
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col">
          <nb-card>
            <nb-card-header>other</nb-card-header>
            <nb-card-body>
              rest: visibility, authorization, votescap
            </nb-card-body>
          </nb-card>
        </div>


      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
        <div class="col">
          <nb-card>
            <nb-card-header>encryption</nb-card-header>
            <nb-card-body>
              rest: visibility, authorization, votescap
            </nb-card-body>
          </nb-card>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
  <h5>Polls</h5>
</div>
