<div *ngIf="voting != undefined">
  <h4 class="text-center">{{voting.title}}</h4>

  <h5>Polls</h5>
  <nb-accordion multi>
    <nb-accordion-item *ngFor="let poll of voting.polls">
      <nb-accordion-item-header>
        {{poll.question}}
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-list>
          <nb-list-item *ngFor="let option of poll.pollOptions">
            {{option.code}}. {{option.name}}
          </nb-list-item>
        </nb-list>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

  <h5>Technical data</h5>

  <div>
    <button nbButton (click)="onReloadClicked()">
      reload
      <nb-icon icon="refresh-outline"></nb-icon>
    </button>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
    <div class="col">
      <nb-card>
        <nb-card-header>network</nb-card-header>
        <nb-card-body>
          <div>
            <nb-icon icon="{{voting.network}}" class="mb-1 me-2 align-middle"></nb-icon>
            ({{voting.network}})
            <ng-container *ngIf="voting.isOnTestNetwork">(testnet)</ng-container>
          </div>
          <div class="mt-2">
            asset code:
            <code>{{voting.assetCode}}</code>
          </div>
          <app-truncated-account-id title="issuer account"
                                    [accountId]="voting.issuerAccountId" [isOnTestNet]="voting.isOnTestNetwork"
                                    [network]="voting.network"></app-truncated-account-id>
          <app-truncated-account-id title="ballot account"
                                    [accountId]="voting.ballotAccountId" [isOnTestNet]="voting.isOnTestNetwork"
                                    [network]="voting.network"></app-truncated-account-id>
          <app-truncated-account-id title="distribution account"
                                    [accountId]="voting.distributionAccountId" [isOnTestNet]="voting.isOnTestNetwork"
                                    [network]="voting.network"></app-truncated-account-id>
          <app-truncated-account-id title="funding account"
                                    [accountId]="voting.fundingAccountId" [isOnTestNet]="voting.isOnTestNetwork"
                                    [network]="voting.network"></app-truncated-account-id>
          <div *ngIf="isVotingExpired && !voting.isRefunded">
            refunding in progress:
            <i class="fa-solid fa-money-check-dollar fa-flip fa-lg" style="--fa-animation-duration: 2s;"></i>
          </div>
          <nb-badge *ngIf="isVotingExpired && voting.isRefunded" status="success" text="refunded!"></nb-badge>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col">
      <nb-card>
        <nb-card-header>dates</nb-card-header>
        <nb-card-body>
          <div class="mt-2 d-flex flex-row">
            <div>start date:</div>
            <div class="px-1">
              {{voting.startDate}}
            </div>
          </div>

          <div class="mt-2 d-flex flex-row">
            <div>end date:</div>
            <div class="px-1">
              {{voting.endDate}}
            </div>
          </div>

          <div class="mt-2 d-flex flex-row">
            <div>time left until voting ends:</div>
            <div class="px-1">
              <span *ngIf="isVotingExpired">expired</span>
              <countdown *ngIf="!isVotingExpired" [config]="countDownConfigForVotingExpire"></countdown>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

  </div>

  <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
    <div class="col">
      <nb-card>
        <nb-card-header>other</nb-card-header>
        <nb-card-body>
          <div class="mt-2 d-flex flex-row">
            <div>visibility:</div>
            <div class="px-1">
              {{voting.visibility}}
            </div>
          </div>

          <div class="mt-2 d-flex flex-row">
            <div>authorization:</div>
            <div class="px-1">
              {{voting.authorization}}
            </div>
          </div>

          <div class="mt-2 d-flex flex-row">
            <div>ballot type:</div>
            <div class="px-1">
              {{voting.ballotType}}
            </div>
          </div>

          <div *ngIf="voting.ballotType == BallotType.MULTI_CHOICE" class="mt-2 d-flex flex-row">
            <div>max choices:</div>
            <div class="px-1">
              {{voting.maxChoices}}
            </div>
          </div>

          <div class="mt-2 d-flex flex-row">
            <div>number of participants:</div>
            <div class="px-1">
              {{voting.votesCap}}
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col">
      <nb-card>
        <nb-card-header>encryption</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col">

              <div *ngIf="!isEncrypted" class="text-center">
                voting is not encrypted
              </div>
              <div *ngIf="!isEncrypted" class="text-center">
                <nb-icon icon="globe" pack="fas" class="mt-2 fa-3x"></nb-icon>
              </div>

              <div *ngIf="isEncrypted" class="text-center">
                voting is encrypted
                <span *ngIf="isEncryptionExpired">and unlocked</span>
                <span *ngIf="!isEncryptionExpired">and locked</span>
              </div>
              <div *ngIf="isEncrypted && !isEncryptionExpired" class="text-center">
                <nb-icon icon="lock" pack="fas" class="mt-2 fa-3x"></nb-icon>
              </div>

              <div *ngIf="isEncrypted && isEncryptionExpired" class="text-center">
                <nb-icon icon="lock-open" pack="fas" class="mt-2 fa-3x"></nb-icon>
              </div>

              <div *ngIf="isEncrypted && !isEncryptionExpired" class="text-center">
                encryption expires in:
                <countdown [config]="countDownConfigForEncryptionExpire"></countdown>
              </div>

              <div *ngIf="isEncrypted && isEncryptionExpired" class="text-center">
                decryption key: <code>{{voting.decryptionKey}}</code>
                <button size="tiny" nbButton outline status="primary" title="copy to clipboard" ngxClipboard
                        [cbContent]="voting.decryptionKey">
                  <nb-icon icon="clipboard-outline"></nb-icon>
                </button>
              </div>

            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
    <div class="col">
      <nb-card>
        <nb-card-header>authentication</nb-card-header>
        <nb-card-body>
          <div *ngIf="!isInvitationBased" class="text-center">
            users login to access voting
          </div>
          <div *ngIf="isInvitationBased" class="text-center">
            users access voting through an invitation
          </div>

          <div *ngIf="!isInvitationBased" class="text-center">
            <i class="fa-solid fa-user mt-2 fa-3x"></i>
          </div>
          <div *ngIf="isInvitationBased" class="text-center">
            <i class="fa-regular fa-envelope-open mt-2 fa-3x"></i>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
  </div>
</div>
