<nb-card *ngIf="!isLoading && votings.items.length > 0">
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let voting of votings.items">
        <a routerLink="/{{AppRoutes.VIEW_VOTING}}/{{voting.id}}">{{voting.title}}</a>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<div *ngIf="!isLoading && votings.items.length == 0">
  not found such votings
</div>

<app-pagination *ngIf="!isLoading" [current]="currentPage" [totalPages]="votings.totalCount" (selectedPage)="onSelectedPageChange($event)">

</app-pagination>
