<nb-card *ngIf="!isLoading && votings.items.length > 0">
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let voting of votings.items">
        <div class="flex-grow-1 me-3">
          <a routerLink="/{{AppRoutes.VIEW_VOTING}}/{{voting.id}}">{{voting.title}}</a>
          <div>
            <a routerLink="/{{AppRoutes.SHOW_RESULTS}}/{{voting.id}}">
              <button *ngIf="areResultsAvailable(voting)" nbButton status="primary" size="small" class="mt-1">
                show results
              </button>
            </a>
            <button *ngIf="!areResultsAvailable(voting)" nbButton disabled status="primary" size="small" class="mt-1">
              show results
              <nb-icon icon="lock-outline"></nb-icon>
            </button>
          </div>
          <small *ngIf="!areResultsAvailable(voting)" class="text-disabled">
            <ng-container *ngIf="!voting.isInitialized">not initialized yet</ng-container>
            <ng-container *ngIf="voting.isInitialized">encrypted
              until {{getEncryptedUntilString(voting)}}
            </ng-container>
          </small>
        </div>

        <div *ngIf="allowCastVote && !this.isExpired(voting) && !this.isAlreadyVoted(voting)" class="me-3">
          <a routerLink="/{{AppRoutes.CAST_VOTE}}/{{voting.id}}">
            <button nbButton status="primary">
              cast vote
            </button>
          </a>

        </div>
        <div *ngIf="this.isExpired(voting)" class="me-3">
          <div class="text-disabled">EXPIRED</div>
        </div>
        <div *ngIf="this.isAlreadyVoted(voting)" class="me-3">
          <div class="text-disabled">ALREADY VOTED</div>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<div *ngIf="!isLoading && votings.items.length == 0" class="text-center">
  not found such votings
</div>

<app-pagination *ngIf="!isLoading && votings.items.length > 0" [current]="currentPage" [totalPages]="totalPages"
                (selectedPage)="onSelectedPageChange($event)">

</app-pagination>
