<nb-card *ngIf="!isLoading && votings.items.length > 0">
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let voting of votings.items">
        <div class="flex-grow-1">
          <a routerLink="/{{AppRoutes.VIEW_VOTING}}/{{voting.id}}">{{voting.title}}</a>
        </div>

        <div *ngIf="allowCastVote && !this.isExpired(voting)">
          <a routerLink="/{{AppRoutes.CAST_VOTE}}/{{voting.id}}">
            <button nbButton status="primary">
              cast vote
            </button>
          </a>

        </div>
        <div *ngIf="this.isExpired(voting)">
          <div class="text-disabled">EXPIRED</div>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<div *ngIf="!isLoading && votings.items.length == 0">
  not found such votings
</div>

<app-pagination *ngIf="!isLoading && votings.items.length > 0" [current]="currentPage" [totalPages]="totalPages"
                (selectedPage)="onSelectedPageChange($event)">

</app-pagination>
