@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((
  sidebar-width-compact: 5.5rem,
  ph-bg-alphad: rgba(255, 255, 255, 0.35),
  footer-background-color: transparent,
  footer-shadow: none,
  footer-divider-width: 0px
), default, default);

$nb-themes: nb-register-theme((
  sidebar-width-compact: 5.5rem,
  ph-bg-alphad: rgba(34, 43, 69, 0.65)
), dark, dark);

