<nb-accordion>
  <nb-accordion-item *ngFor="let question of form.questions; let i = index; trackBy: trackByIndex" expanded>
    <nb-accordion-item-header>

      <div class="flex-fill">
        <div>
        <div><label>question</label></div>
        <input style="width: 90%;" class="me-2 mt-1" type="text" fullWidth nbInput [(ngModel)]="question.question"
               placeholder="e.g.: What is your favorite color?"
               [status]="question.isValid ? 'success' : 'danger'" (click)="preventPropagationOf($event)"
               (keyup)="preventPropagationOf($event)" (keydown)="preventPropagationOf($event)">

        <button class="mt-1" nbButton (click)="deleteQuestionClicked(i)">
          <nb-icon icon="trash-outline"></nb-icon>
        </button>
        </div>

        <div class="mt-2 flex-fill">
          <label>short description</label>
          <editor class="editor-border" [class.editor-border-status-danger]="!question.isDescriptionValid" [init]="{
  menubar: false,
  branding: false,
  plugins: 'link autolink',
  default_link_target: '_blank',
  toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link'
  }"
                  [(ngModel)]="question.description"
          ></editor>
        </div>
      </div>

    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div *ngFor="let option of question.options; let j = index; trackBy: trackByIndex" class="row mb-1">
        <div class="col">
          <div class="d-flex justify-content-start align-items-center">
            <div> {{j + 1}}.</div>
            <div class="flex-fill px-2"><input type="text" nbInput fullWidth [(ngModel)]="question.options[j]"
                                               placeholder="e.g.: blue"
                                               [status]="question.isOptionValidAt(j) ? 'success' : 'danger'">
            </div>
            <div>
              <button nbButton (click)="deleteOptionClicked(i, j)">
                <nb-icon icon="trash-outline"></nb-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!question.isValid" class="row mt-1">
        <div class="col">
          <nb-card accent="danger">
            <nb-card-body>
              {{getWarnMessageFor(i)}}
            </nb-card-body>
          </nb-card>
        </div>
      </div>


      <div class="row mt-2">
        <div class="col">
          <button nbButton (click)="addOptionClickedAt(i)">
            add option
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item disabled="true">
    <nb-accordion-item-header>
      <div class="flex-column">
        <div>
          <button nbButton (click)="addQuestionClicked()" [disabled]="remainingNumberOfPossibleQuestions < 1">
            add question
            <nb-icon icon="plus-outline"></nb-icon>
          </button>
        </div>

        <div class="mt-1" *ngIf="remainingNumberOfPossibleQuestions > 0">
          you can
          add {{remainingNumberOfPossibleQuestions}} more questions
        </div>

        <div class="mt-1" *ngIf="remainingNumberOfPossibleQuestions == 0">you can't add more questions</div>
      </div>
    </nb-accordion-item-header>
  </nb-accordion-item>
</nb-accordion>
