<div *ngIf="!isUnlocked" class="container text-center">
  <h5 class="text-center">please login to view this page</h5>
</div>

<div *ngIf="isUnlocked" class="container">
  <h5>My created votings</h5>
  <div class="text-end">
    <button nbButton outline status="primary" (click)="onCreateVotingClicked()">
      create
      <nb-icon icon="plus-outline"></nb-icon>
    </button>

  </div>

  <div class="mt-2">
    <app-votings-pagination [source]="source"></app-votings-pagination>
  </div>

</div>


