<nb-card>
  <nb-card-header>create voting</nb-card-header>
  <nb-card-body>
    <app-select-network [form]="form"></app-select-network>
    <app-funding-account-source *ngIf="form.selectedNetwork != ''" [form]="form"></app-funding-account-source>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton [disabled]="!form.isValid" outline status="primary">create</button>
    <button nbButton outline status="basic" class="ms-3" (click)="onCancelClicked()">cancel</button>
  </nb-card-footer>
</nb-card>
